.cardParent {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: flex-start;
    width: 100%;
}
.searchcard{
    max-width: 50% !important;
}
.card{
    flex:15% !important;
    min-width: 175px !important;
}

.searchButton{
    font-size: 12px !important;
}

.firstline{
    display: flex !important;
    justify-content: space-between !important;
    flex-wrap: wrap !important;
    row-gap: 20px !important;
    align-items: center;
}

.firstlinesecondchild{
    display: flex !important;
    align-items: center !important;
    justify-content: flex-end !important;
    flex-wrap: wrap !important;
    row-gap: 20px !important;
}

/* .select {
    min-width: 150px;
} */

@media screen and (max-width:1024px) {

.mainleft{
border-bottom: 1px solid #e5e5e5;
}
}
@media screen and (max-width:667px) {
    .selectboxes{
        display: flex !important;
        flex-direction: column !important; 
    }
}
@media screen and (max-width:576px){
    
.firstlinesecondchild{
    width: 100% !important;
    justify-content: left !important;
    gap:20px
}
.cardParent{
    padding: 10px 0 !important;
}

.left{
    text-align: left !important;
}
.firstlinesecondchild {
    display: none !important;
}
.firstline {
    padding-bottom: 10px !important;
}
}